<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="/build/cbr.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pavel Mokshin</p>
        </footer>
    </div>

    <script src="/build/cbr.ru.js" data-main="app/app"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
